/* Thiết lập cho input */
.m-input {
    height: 36px;
    width: 100%;
    padding: 10px 0 9px 12px;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    outline: none;
    font-size: 13px;
    background: #FFFFFF;
}

/* Thiết lập khi hover vào input */
.m-input:hover {
    background: #f6f6f6;
    cursor: pointer;
}

/* Thiết lập cho placeholder input */
.m-input::placeholder {
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    color: #9E9E9E;
}
/* Thiết lập khi focus vào input */
.m-input:focus {
    border: 1px solid #50B83C;
}

/* Thiết lập khi lỗi input */
.m-input-error {
    border: 1px solid #E61D1D;
}


/* Thiết lập cho input icon */
.input-icon {
   display: flex;
}
.input-icon input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.icon-search {
    cursor: pointer;
    height: 36px;
    width: 36px;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
}
.icon-search i {
    font-size: 18px;
}
.m-input-icon {
    height: 36px;
    width: 280px;
}
.m-input-icon::placeholder {
    font-size: 14px;
}


/* Thiết lập cho input radio form */
.input-radio {
    height: 20px;
    width: 20px;
    color: #FFFFFF;
    border: 2px solid #707070;
    accent-color: rgb(48, 111, 36);
}

/* Thiết lập cho input checkbox form */
.input-checkbox,
.input-checkbox-header {
    height: 18px;
    width: 18px;
    color: #FFFFFF;
    border: 1px solid #707070;
    accent-color: rgb(48, 111, 36);
}

