@import url(./components/input.css);
@import url(./components/combobox.css);
@import url(./components/dialog.css);
@import url(./layout/header.css);
@import url(./layout/navbar.css);
@import url(./layout/content.css);
@import url(./components/date.css);
@import url(./components/dropdownlist.css);
@import url(./components/label.css);
@import url(./components/table.css);
@import url(./components/form.css);
@import url(./components/paging.css);
@import url(./components/toast.css);
@import url(./components/loading.css);
@import url(./pages/login.css);

@font-face {
    font-family: notosans-bold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}
@font-face {
    font-family: notosans-italic;
    src: url(../assets/fonts/notosans-italic.1c1aaac9.woff2);
}
@font-face {
    font-family: notosans-regular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}
@font-face {
    font-family: notosans-semibol;
    src: url(../assets/fonts/notosans-semibold.df3e6dc4.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: notosans-regular;
}
.header {
    height: 56px;
    display: flex;
    background-color: #FFFFFF;
}
.main {
    display: flex;
    height: calc(100vh - 56px);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    padding: 8px 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px #9e9e9e;
    padding: 8px;
    background-clip: padding-box;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #9e9e9e;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer !important;
}

/* Ngăn chặn bôi đen nội dung khi click vào trang */
html, body, * {
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Standard syntax */
}
.icon {
    height: 36px;
    width: 36px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
i {
    font-size: 18px;
    cursor: pointer;
}
.curtain {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.18);
    z-index: 10;
}
.icon-loading {
    background: url("../assets/img/sharingan.svg") no-repeat;
    height: 80px;
    width: 80px;
}