.forget-password-body {
    background: rgba(0, 0, 0, 0.04);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-forget {
    width: 520px;
    border-radius: 8px;
    padding: 24px 48px;
    min-height: 340px;
    background: #fff;
    box-shadow: 0 12px 20px rgba(0,0,0,.12);
    margin-top: 28px;
}
.logo-misa {
    background-image: url(../../assets/img/Logo\ MISA_VN.svg);
    height: 40px;
    width: 98px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.body-form > div {
    display: flex;
    justify-content: center;
    font-size: 15px;
}
.recover-password h2 {
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: -4px;
    color: #4d5156;
}
p {
    font-size: 15px;
}
.footer-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    color: #1a73e8;
    cursor: pointer;
}
.footer-form > div:hover {
    text-decoration: underline;
}
.footer-form > div {
    font-size: 15px;
}

.header-form {
    padding: 14px 15px;
}
.recover-password{
    padding-top: 10px;
}
.password p {
    padding-bottom: 26px;
}
.input-email input {
    width: 100%;
    height: 44px;
    border-radius: 6px;
}
/* .btn {
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    height: 44px;
    border-radius: 3px;
    background: #0073e6;
    font-size: 16px;
    font-family: notosans-semibol;
    transition: 0.8s ease;
    margin-top: 16px;
    margin-bottom: 24px;
    border-radius: 6px;
}
.form-forget .btn:hover {
    background: #0062CC;
}
.form-forget .btn:active {
    background: #66AFFF;
} */
.help {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    color: #4d5156;
    margin-top: 6px;
}
.step3-footer {
    display: flex;
    justify-content: center;
}